.nav {
  display: flex;
}

.logo-div {
  flex: 1;
}

.add {
  flex: 1;
}

.logo {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 40px;
  top: 26px;
}

.circle {
  position: relative;
  top: 70px;
  color: black;
  text-decoration: none !important;
  left: 250px;
  font-size: 30px;
  width: 40px;
  border-radius: 5px;
  background: transparent;
  transition: transform .2s
}

.circle:hover {
  transform: scale(1.1)
}

.action-text {
  display: flex;
  position: relative;
  max-width: 750px;
  margin: auto;
  top: 200px;
  font-size: 22px;
  text-align: center;
  color: white;
}

.action-text span {
  color: black;
}

.all-sessions-div {
  position: relative;
  bottom: 0px;
  margin-top: 130px;
  display: flex;
  justify-content: center;
}

.sesh-div {
  width: 300px;
  height: 150px;
  background-color: #343434;
  color: white;
  border-radius: 10px;
}

.sesh-name {

}

.sesh-date {

}

.sesh-logo {
  width: 75px;
}

.link {
  text-decoration: none;
}
