.movement {
  display: grid;
  grid-template-columns: 75px 100px;
  grid-template-rows: 0.5fr 0.5fr 1fr; 
  grid-template-areas: 
    "V V T T"
    "W E T T"
    "S P T T";
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    height: 150px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.movement-name {
  grid-area: V;
  height: 20px;
  width: 144px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: transparent;
  text-align: center;
  margin: 5px;
  margin-top: 10px;
  margin-left: 20px;
  color: white;
  font-family: 'oswald';
}

.weight {
  grid-area: W;
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: transparent;
  text-align: center;
  margin: 5px;
  margin-left: 20px;
  color: white;
  font-family: 'oswald';
}

.rpe {
  grid-area: E;
  height: 25px;
  width: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: transparent;
  text-align: center;
  margin: 5px;
  margin-left: 39px;
  color: white;
  font-family: 'oswald';
}

.reps {
  grid-area: P;
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: transparent;
  text-align: center;
  margin: 5px;
  margin-left: 39px;
  margin-top: 13px;
  color: white;
  font-family: 'oswald';
}

.sets {
  grid-area: S;
  height: 25px;
  width: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: transparent;
  text-align: center;
  margin: 5px;
  margin-left: 20px;
  margin-top: 13px;
  color: white;
  font-family: 'oswald';
}

.notes {
  grid-area: T;
  width: 150px;
  height: 100px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: transparent;
  text-align: center;
  margin: 5px;
  margin-top: 10px;
  margin-left: 10px;
  resize: none;
  color: white;
  font-family: 'oswald';
}

.remove-movement {
  margin: auto;
  position: relative;
  bottom: 10px;
  width: 60px;
  right: 30px;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: transparent;
  font-size: 12px;
  color: white;
}

@media (max-width: 600px) {

  html, body {
    max-height: 100vh;
}

.app {
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

  .session {
    width: 300px;
    margin: auto;
    left: 0;
    right: 0;
  }

  .name {
    width: 300px;
  }

  .add-a-movement {
    width: 150px;
    margin-left: -20px;
  }

  .date {
    width: 150px;
    margin-left: -55px;
  }

  .sessions-div {
    max-width: 280px;
  }


  .movement {
    width: 260px;
    height: 260px;
    grid-template-columns: 150px 150px;
    grid-template-rows: 0.5fr 0.5fr 1fr; 
    grid-template-areas: 
    "V V"
    "W E"
    "S P"
    "T T"
    "T T";
    overflow-x: hidden;
  }

  .movement-name {
    margin-left: 57px;
  }

  .weight {
    margin-left: 57px;
  }

  .sets {
    margin-left: 57px;
    margin-top: 5px;
  }

  .rpe {
    margin-left: 0px;
  }

  .reps {
    margin-left: 0px;
    margin-top: 5px;
  }

  .send-session {
    margin-left: -100px;
  }

  .cancel-session {
    margin-left: -50px;
  }

  .notes {
  position: relative;
  top: -15px;
  width: 235px; 
 }

 .remove-movement {
  margin-top: -20px;
  position: relative;
  left: 55px;
}
}